/* RESET RULE */
*, 
*::after,
*::before {
    margin: 0; padding: 0; border: 0; box-sizing: border-box;
}
body {
    min-height: 100 vh;
    font-family: 'IBM Plex Sans', sans-serif;
}


/**************
   VARIABLES
**************/

// prim is neutral blend
$sec-500: #3AAFA9;
$tert-500: #9B1D20;

$neutral-white: #FEFFFF;
$neutral-black: #17252A;
$neutral-dark-gray: #2B7A78;
$neutral-light-gray: #DEF2F1;


/**************
   MIX-INS
**************/
@mixin h1($color: $neutral-black){
    font-family: 'Montserrat', sans-serif;
    font-size: 3.75rem;
    font-weight: 900;
    color: $color;
    
}

@mixin h2($color: $neutral-white){
    font-family: 'IBM Plex Mono', monospace;
    font-size: clamp(2rem, 3rem, 3.5vw);
    font-weight: 700;
    color: $color;
}

@mixin h3($color: $neutral-white){
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(2rem, 4rem, 3vw);
    font-weight: 900;
    color: $color;
}

@mixin h4($color: $neutral-black){
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(.75rem, 2rem, 1.1vw);
    letter-spacing: .3rem;
    font-weight: 400;
    line-height: 92%;
    color: $color;
}

@mixin h5($color: $neutral-white){
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: clamp(1.1rem, 2rem, 1.4vw);
    font-weight: 600;
    color: $color;
}


@mixin p($color: $neutral-black){
    font-family: 'IBM Plex Mono', monospace;
    font-size: clamp(1rem, 1.05rem, 1.15rem);
    line-height: 1.7rem;
    letter-spacing: .03rem;
    font-weight: 500;
    color: $color;
}

@mixin icon-color{
    // filter:invert(0%) sepia(8%) saturate(100%) hue-rotate(115deg) brightness(0) contrast(107%);
    filter: brightness(0) saturate(100%) invert(43%) sepia(8%) saturate(292%) hue-rotate(29deg) brightness(91%) contrast(89%);
}

/**************
   TYPOGRAPHY
 **************/
 h1 {
     @include h1();
}

h2 {
    @include h2();
}

h3 {
    @include h3();
}

h4 {
    @include h4();
}

h5 {
    @include h5();
}


p{
    @include p();
}


/**************
   BACKGROUND
 **************/
 #video-bg {
    position: fixed;
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color-screen {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background: rgba(23, 37, 42, .6);
    // background: rgba(58, 175, 169, .6);
}



section,
.main-block {
    display: flex;
    flex-wrap: wrap;
}

.content-block {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    overflow: hidden;
}

.title {
    margin-block: 1vh;
    border-bottom: .2rem solid;
}

.shadow {
    text-shadow: .25rem .125rem $tert-500;
    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -moz-text-stroke-color: white;
    color: transparent;
}

.drop-shadow {
    float: right;
}

.typed{
    animation: 
        typing 2s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}