/**************
    TABLET
 **************/
@media all and (max-width: 900px){



    /* NAV BAR */
    nav{
      padding: 5px 30px;
      align-items: flex-start;
      background-color: #3AAFA9;
    }
    nav ul .nav-item{
      width: 100%;
      padding: 1rem .5rem;
      display: none;
    }
    nav ul .nav-item.show{
      display: block;
    }
    nav ul li.btn{
      display: block;
      padding: 1rem 1rem;
      border: none;
    }
    /* nav ul .nav-item:hover{
      border-radius: 5px;
      box-shadow: inset 0 0 5px #33ffff,
                  inset 0 0 10px #66ffff;
    } */
    nav ul nav-item:hover:after{
      opacity: 0;
    }
}