@import "./globals";

/**************
    TABLET
 **************/
@media all and (max-width: 900px){

    body {

        #introduction {    
            .container{
                top: 30%;
                               
            }
        }
        #profile-picture {
        justify-content:left;
                
            img {
                height: 80vw;
                
            }
        }

        #about-me {
            padding-inline: 0;
            
            article{
                padding-inline: 0;
            }
        }
    
        
    
        /* NAV BAR */
        nav{
          padding: 5px 30px;
          align-items: flex-start;
          background-color: #3AAFA9;
        }
        nav ul .nav-item{
          width: 100%;
          padding: 1rem .5rem;
          display: none;
        }
        nav ul .nav-item.show{
          display: block;
        }
        nav ul li.btn{
          display: block;
          padding: 1rem 1rem;
          border: none;
        }
        /* nav ul .nav-item:hover{
          border-radius: 5px;
          box-shadow: inset 0 0 5px #33ffff,
                      inset 0 0 10px #66ffff;
        } */
        nav ul nav-item:hover:after{
          opacity: 0;
        }
    }
    
}


/**************
     MOBILE
 **************/

@media all and (max-width: 500px){
  body{
    header {
      grid-template-columns: 1fr;
      grid-template-rows: 50vh 50vh;

      #introduction {
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        align-self: flex-start;
        justify-self: flex-start;

        .container{
          
          position: static;
          transform: translate(0, 0);

          display: flex;
          flex-direction: column;
          align-content: flex-end;
          justify-content: flex-end;

          margin-inline-start: 2rem;
          margin-block-end: 1rem;
        


          h1{
            font-size: 3rem;
          }

          p{
            font-size: 1rem;

          }

          #desktop-cv{
            visibility: hidden;
            position: absolute;
          }
        }

        #contacts{
          position: absolute;
          top: 0%;
          height: fit-content;

          a{
            img{
              width: 2.75rem;
            }
          }
        }
        
      }

      #profile-picture {

        #mobile-cv {
          visibility: visible;
          z-index: 1;

          .btn-cv{
            margin-block-start: 1rem;
            margin-inline-start: 1.5rem;
            
          }
        }

        img{
          position: absolute;
          bottom: 0%;
          right: 0%;
          transform: translate(18%, 0%) scaleX(-1);
          height: 48%;
          z-index: 0;
        }
      }
    }

    h2{
      margin-block-start: 2rem;
      margin-block-end: .5rem;
    }


    #about-me {

      .grid-container{
          display: flex;
          flex-direction: column;
          padding-inline: 1rem;
      }



      h3 {
        margin-block-end: 0;
      }

      #skills {
        margin-block-start: 2rem;



        #skills-icons{
          .icon-container {
            flex: 1 0 50%;
            margin-block-start: .5rem;
            margin-block-end: 0;
          }
        }

      }

      #education{
        margin-block-start: 2rem;

        #degree {
          margin-block-start: .5rem;
        }
      }

    }

    #projects {
      .grid-container{

        .flex-container{
          flex-basis: 100%;

          .project{
            min-width: 95vw;

            .repo{
              grid-column: 1/-1;
              grid-row: 1/1;
            }

            .stack{
              grid-column: 1/-1;
              grid-row: 2/2;
              padding-block-start: .75rem;
              flex-wrap: nowrap;

            }

            .description{
              grid-column: 1/-1;
              grid-row: 3/3;
              margin: 0;
              margin-block-start: 1rem;

              p{
                font-size: 1rem;
                margin-block-end: 0;
              }

              h4{
                padding-inline-start: 1rem;
                margin-block-end: 0;
              }

              ul{
                margin-block-start: .75rem;
                margin-inline-start: 1rem;

                li{
                  font-size: 1rem;
                }
              }
            }

            .more-info {
              margin-block: .75rem;

              a{
                margin-block-end: .75rem;
              }
            }



          }
        }
      }


      
    }
  }
}