@import "./globals";


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=IBM+Plex+Sans:wght@300;400;500;600&family=Montserrat:wght@700;800;900&display=swap');



/**************
    NAV BAR
 **************/
 nav {
    display: flex;
    position: fixed;
    z-index: 1;
    width: fit-content;
    height: 5rem;
    top: 0px;
    right: 0px;
    justify-content: center;
    align-items: center;
    


    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        align-items: center;
        justify-content: center;
        list-style: none;
        // outline: black solid 3px;

        .btn{
            display: none;
            position: absolute;
            right: 0;
            top: 0;

            a {
                &::after {
                    height: 0;
                }
            }
        }

        

        li {
            padding: 1rem 2rem;
            text-align: center;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
            // outline: black solid 3px;
            cursor: pointer;



            a {
                color: white;
                position: relative;
                font-size: 1.5rem;
                font-weight: 700;
                text-decoration: none;
                padding-bottom: .25rem;

                &:after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    background-color: white;
                    width: 0%;
                    left: 50%;
                    margin-top: 1rem;
                    bottom: 0;

                    transform: translateX(-50%);

                    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
                }

                &:focus {
                    outline: none;
                    width: 100%;
                }

                &:hover:after {
                    width: 100%;
                }

                &:focus:after {
                    text-decoration: none;
                    width: 100%;
                }
            }
        }

        .nav-item{
            position: relative;
            width: auto;
            margin: 0 1rem;
            text-align: center;
            order: 3;
        }
        .nav-item:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 5px;
            height: 2px;
            width: 100%;
            background: $neutral-white;
            opacity: 0;
            transition: all 0.2s linear;
        }
    } 
}






/************************
    HEADER/WELCOME PAGE
 ************************/
 header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    min-width: 100%;
    /* outline: green solid 3px; */
    
    #introduction {
        display: flex;
        flex: 1 0 50%;
        background-color: $neutral-light-gray;

        .container{
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%);
            height: fit-content;
            z-index: 1;

            h1{
                line-height: 3.5rem;
                .tertiary {
                    color: $tert-500;
                }
            }
    
            p{
                font-size: 1.25rem;
                font-weight: bold;
                color: $neutral-dark-gray-700;
                width: 30ch;
            }
    
            #btn-cv {
                @include h5();
                font-size: 1rem;
                border-radius: 50em;
                height: fit-content;
                width: fit-content;
                letter-spacing: .2rem;
                margin-block: 2rem;
                padding-block: 1rem;
                padding-inline: 1.5rem;
                background-color: $tert-500;

                &:hover{
                    cursor: pointer;
                }
            }
        }

        #contacts{
            align-self: flex-end;
            justify-self: flex-end;
            bottom: 0px;
            left: 0px;
            background-color: $sec-500;
            display: flex;
            flex: 0 1 33%;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            min-width: fit-content;
            

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 100%;
                margin-block: .75rem;
                margin-inline: 1rem;
                @include h5();
    
                img{
                    display: flex;
                    flex-grow: 1;
                    width: 2.25rem;
                }
            } 
        }
    }
    
    #profile-picture {
        display: flex;
        flex: 1 0 50%;
        background-color: $sec-500;
        justify-content: center;
        overflow: hidden;
        
        img {
            height: 90%;
            align-self: flex-end;
            transform: scaleX(-1); //flip image
            filter: drop-shadow(7px 7px 7px $neutral-dark-gray);
            z-index: 0;
        }
    }
}


/***************
  MAIN CONTENT
****************/

section{
    padding: 0rem 4.5rem 3.5rem 4.5rem;
}

#main-content-block {
    width: 100%;
}





/***************
    ABOUT ME 
****************/

#about-me {

    .grid-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    
    article {
        grid-column: 2 / 6;
        grid-row: span 1;
        padding-inline: 1rem;
    }

    #skills {
        grid-column: 7 / 12;
        grid-row: span 2;
        // outline: red 1px solid;

        #skills-icons {
            display: flex;
            flex-wrap: wrap;
            padding-block-start: 1rem ;
            // outline: green 1px solid;

            .icon-container {
                display: flex;
                flex: 1 0 25%;
                flex-direction: column;
                min-width: 6rem;
                margin-block-end: 2rem;

                img{
                    align-self: center;
                    min-width: 4.5rem;
                }

                p{
                    flex-basis: 100%;
                    text-align: center;
                    margin-block-start: .125rem;
                    font-size: .938rem;
                    // outline: black 1px solid;
                }
            }

        }
    }

    #education{
        grid-column: 2 / 6;
        grid-row: span 1;
        margin-block-start: 2rem;
        // padding-inline: 1rem;

        #degree {
            display: flex;
            flex-wrap: wrap;
            padding-inline: 1rem;

            #degree-type,
            #college-name {
                flex: 1 0 100%;
            }

            #degree-type,
            #degree-year{
                @include p();
                color: $sec-500;
                justify-content: end;
                transform: translate(0%, 15%);
                font-size: .875rem;
            }

            #degree-field{
                @include h3();
                font-family: 'IBM Plex Mono', monospace;
                font-size: 1.5rem;
                margin-inline-end: .25rem;
            }


        }
    }
}

/**************
    PROJECTS
 **************/
 #projects{
    display: flex;
    background-color: $neutral-light-gray;
    justify-content: center;
    padding: 0;

    .grid-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        // display: grid;
        // grid-template-columns: repeat(12, 1fr);
        // grid-template-rows: 1fr;
        // grid-row-gap: 5rem;

        .flex-container {
            display: flex;
            flex: 1 1 40%;
            justify-content: center;
            margin-inline: 2rem;
            margin-block-end: 4rem;
        }

        .project{
            
            
            min-width: 32.75rem;
            max-width: 35rem;
            
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: min-content 1fr;
            // min-height: 100%;

            
            border-radius: 10px;
            overflow: hidden;

            background-color: $neutral-white ;

            filter: drop-shadow(7px 7px 7px $neutral-dark-gray);

            a{
                grid-column: 1 / -1;
                
                height: fit-content;
            
                img{
                    display: flex;
                    // min-width: 100%;
                    max-width: 100%;
                    flex-basis: 100%;
                    flex-wrap: wrap;
                    align-self: center;
                    // outline: black 3px solid;
                    /* outline: white 3px solid; */
                } 
            }

            .description {
                grid-column: 1 / 5;
                grid-row: span 1;
                margin-block: 2rem;
                align-self: start;
                display: flex;
                // height: 100%;
                flex-direction: column;
                margin-inline-start: 2rem;

                p{
                    padding-inline: 1rem;
                    margin-block-end: 1.5rem;
                }
 

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    flex-basis: 100%;
                    padding-inline: 1rem;
                    
                    li {
                        @include p($neutral-dark-gray);
                        font-size: 1.063rem;
                        margin-block: .375rem;

                        span {
                            font-size: 1.125em;
                            font-weight: 900;
                            color: $neutral-black;
                        }
                    }
                }
                
                
            }
            
            .stack {
                grid-column: 5 / 6;
                grid-row: span 1;
                
                
                
                display: flex;
                height: 100%;
                flex-wrap: wrap;                      
                justify-content: center;
                align-items: center;
                margin-inline: 2%;
                align-self: center;
                // outline: white 3px solid;
            
                .icon{
                    display: flex;
                    flex-basis: 100%;
                    justify-content: center;
                    width: 100%;
            
                    img {
                        max-width: 3rem;
                        @include icon-color;
                        /* outline: white 3px solid; */
                    }
                }
            }

            .more-info{

                grid-column: 1/-1;
                grid-row: span 1;

                display: flex;
                a{
                    width: fit-content;
                    align-self: center;
                    margin-block-end: 1.5rem;
                    margin-inline: auto;

                    &:link { text-decoration: none; }
                    &:visited { text-decoration: none; }
    
                    .gh-btn{
    
                        display: flex;
                        flex: wrap;
                        @include h5();
                        font-size: 1rem;
                        border-radius: 50em;
                        height: fit-content;
    
                        letter-spacing: .2rem;
                        padding-block: 1rem;
                        padding-inline: 1.5rem;
                        background-color: $tert-500;
    
                        span {
                            display: flex;
                            text-align: center;
                            flex-shrink: 0;
                            flex-basis: 75%;
                            min-width: max-content;
                            align-self: center;
                        }
    
                        img{
                            display: flex;
                            flex: 1 1 20%;
                            margin-inline: .5rem;
                        }
        
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        

        .left-side {
            grid-column: 2 / 6;
            grid-row: span 1;
        }

        .right-side {
            grid-column: 8 / 12;
            grid-row: span 1;
        }
    }
 }
 








/**************
    CONTENT
 **************/
 .main-block {
     margin-inline: clamp(.5rem, 5vw, 5rem);
 }
 
 .content-block {
     padding-inline: clamp(.5rem, 5vw, 5rem); 
 }
 
 .title {
     padding-block: min(1.5vw, 1vh);
 }


/*******************
   ABOUT ME SECTION
*********************/
















.grid-container-2 {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.profile-photo-block {
    grid-column: 1 / 6;
    grid-row: span 1;
    // outline: white solid 3px;
    background-color: $neutral-white;
    h3{
        color: $neutral-black;
    }
    .shadow{
        color: $neutral-black;
    }
    img{
        // height: 50vh;
    }
}
.introduction-block {
    grid-column: 6 / 12;
    grid-row: span 1;
    display: flex;
    background-color: $neutral-black;
    padding-inline: 6rem;
    padding-block: 4rem;
    // outline: red solid 3px;
    .container{
        background-color: $neutral-black;
        height: 100%;
        display: block;
        gap:0%;
        border-radius: 5rem;
        outline: red solid 3px;
        align-items: flex-start;
        
        .title-container{
            // outline: white solid 3px;
            margin-block-start: 2rem;
            margin-inline: 3rem;
            // height: fit-content;
            // flex-basis: 100%;
            // flex-grow: 1;
        }

        h4{
            width: fit-content;
            color: $neutral-white;
            
        }
        
        p{
            
            color: $tert-500;
            display: flex;
            margin-inline: 3rem;
            padding: 1rem;
            // outline: white solid 3px;
            // align-self: flex-start;
            
    
        }

    }

    // outline: white solid 3px;
}
.resume-block{
    grid-column: 1 / 5;
    grid-row: span 1;
    // outline: red solid 3px;
    background-color: $neutral-black;

    #resume-btn{
        border-radius: 5em;
        border: 4px solid transparent;
        height: 3rem;
        width: 6rem;
    }
}
.education-block {
    grid-column: 1 / 5;
    grid-row: span 1;
    background-color: $neutral-black;
    // outline: white solid 3px;
}
.skills-block {
    grid-column: 5 / 12;
    grid-row: span 2;
    // outline: white solid 3px;
    background-color: $neutral-white;
}




.profile-picture {
    grid-column: 1 / 5;
    grid-row: span 1;
    outline: white solid 3px;
}
.introduction {
    grid-column: 6 / 9;
    grid-row: span 2;
    outline: white solid 3px;
}
.skills-upper{
    // display: grid;
    // width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1 / 6;
    grid-row: span 1;
}
#about-me {
    justify-content: center;

    /* outline: blue solid 3px; */

    .content-block {        
        padding-inline: 0%;
        background-color: $sec-500;

        article {
            display: flex;
            flex-wrap: wrap;
            flex: 1 0 min(27rem, 100%);
        
            max-width: 50rem;
            align-content: start;
            
            overflow: hidden;
            /* outline: black solid 3px; */

            .title{
                display: flex;
                flex-basis: 100%;
                border: none;
                
                max-height: fit-content;
                margin-block: 1em 0;
                padding: .5rem 2rem;
                background-color: $neutral-black;
                /* outline: green solid 3px; */
                
                h3{
                    display: flex;
                }
            }

            p {
                flex-basis:max(90%, 25rem);
                
                margin-block-start: 0;
                margin-inline-start: clamp(.25rem, 2.5vw, 2.5rem);
                margin-inline-end: clamp(.5rem, 5vw, 5rem); 
                padding: 2rem 2rem;
                
                background-color: white;
                /* outline: red solid 3px; */

                span{
                    font-family: 'IBM Plex Mono', monospace;        
                }
            }
        }

        img {
            max-width:min(25rem, 100%);
        }

        .container{
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 50%;
            // border: 3px black solid;
        
            margin-inline: auto;
            ul{
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                align-items: flex-end;
                min-height: 40vh;
                flex-basis: 100%;
                // background-color: black;
                border: 3px green solid;
                justify-content: center;


                .slide {
                    width: max(43%, 600px);
                    position: absolute;
                    opacity: 0;
                    

                }

                .slide[data-active]{
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    
                    max-width: 100%;

                    img {
                        display: flex;
                    
                        flex: 1 1 100%;
                        min-width: 100%;
                        filter: drop-shadow(7px 7px 7px #666666);
                        -webkit-filter: drop-shadow(7px 7px 7px #666666);
                    
                        outline: red solid 3px;
                    }
    
                }

                .visible {
                    opacity: 1;
                }
                
            }
        }

        #education {
            background-color: $sec-500;
            overflow: visible;
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - (400px - 100vw) * -.15), 0% 100%);
            padding-inline: 0%;
            padding-bottom: 5vh;
            border-bottom: $neutral-black;

            p {
                flex-basis: 100%;
                line-height: 110%;
            }

            .title{
                margin-inline: clamp(1rem, 2.5rem, 3vw);
            }

            #degree {
                display: flex;
                flex-wrap: wrap;
                flex-basis: 100%;
            
                justify-self: flex-start;
                
                padding-inline-start: 2vw;
                margin-block-start: 1%;
                background: none;
            
                /* outline: blue solid 3px; */

                #degree-type {
                    display: inline-block;
                    
                    max-width: fit-content;
                
                    transform: rotate(-15deg);
                
                    /* outline: green solid 3px; */
                }

                #degree-field {
                    display: block;
                    flex-basis: 100%;
                
                    margin-block-end: .75%;
                
                    font-family: 'IBM Plex Mono', monospace;
                    font-size: clamp(1.8rem, 4rem, 2.75vw);
                    line-height: 85%;
                    color: black;
                    /* outline: green solid 3px; */
                }
            }
        

            .deg-info {
                padding-inline-start: 3vw;
            }
            
            #college-name {
                font-size: clamp(1rem, 1.15rem, 1.35rem);
                font-weight: 600;
            }
        }
    }
}



/**********************
    EDUCATION SECTION
 ************************/
#education {
    .content-block {
    background-color: $sec-500;
    overflow: visible;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - (400px - 100vw) * -.15), 0% 100%);
    padding-inline: 0%;
    padding-bottom: 5vh;
    border-bottom: $neutral-black;

        p {
            flex-basis: 100%;
            line-height: 110%;
        }

        .title{
            margin-inline: clamp(1.1rem, 2.5rem, 3vw);
        }

        #degree {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
        
            justify-self: flex-start;
            
            padding-inline-start: 2vw;
            margin-block-start: 1%;
            background: none;
        
            /* outline: blue solid 3px; */

            #degree-type {
                display: inline-block;
                
                max-width: fit-content;
            
                transform: rotate(-15deg);
            
                /* outline: green solid 3px; */
            }

            #degree-field {
                display: block;
                flex-basis: 100%;
            
                margin-block-end: .75%;
            
                font-family: 'IBM Plex Mono', monospace;
                font-size: clamp(1.8rem, 4rem, 2.75vw);
                line-height: 85%;
                color: black;
                /* outline: green solid 3px; */
            }
        }

        .deg-info {
            padding-inline-start: 3vw;
        }
        
        #college-name {
            font-size: clamp(1rem, 1.15rem, 1.35rem);
            font-weight: 600;
        }
    }
}




/**********************
    SKILLS SECTION
 ************************/
 #skills {
    .content-block {
    padding-inline: 0%;
    justify-content: center;
    }

    .title {
        max-width: fit-content;
        
        padding-inline: 0%;
        margin-inline: clamp(1rem, 2.5rem, 3vw);
        margin-inline-start: auto;
    
        
        border-color: white;
        color: white;
    
        /* outline: green solid 3px; */
    }

    img {
        max-width: min(5rem, 20vw);
    }
    

    #skill-icons {
        margin-top: 5rem;
        max-width: 100%;
        /* column-gap: 1%; */
        row-gap: 5vh;

        .icon-container {
            flex-basis: min(45vw, 19rem);
            display: flex;
            flex-wrap: wrap;
            flex-basis: 21%;
            min-width: 7em;
            /* outline: green solid 3px; */
            justify-content: center;
            filter: drop-shadow(0 0 .2rem black);
        }

        p {
            flex-basis: 100%;
            text-align: center;
            color: white;
            font-family: 'IBM Plex Mono', monospace;
        }   
    }   
}


/**********************
         PROJECTS
************************/

#projectss {


    .project {
        max-width: min(35rem, 100%);
    }

    p {
        color: black;
        margin-block: 1rem;
     }     

    & > .title {
        background-color: $neutral-black;
        display: flex;
        flex-basis: 100%;
        margin-block: 2rem;
        margin-inline-end: 50%;
        justify-content: flex-end;

        h3 {
            display: flex;
            width: fit-content;
            color: white;
            padding: .5rem 4rem;
            justify-self: flex-end; 
        }
    }

    .content-block {
        justify-content: space-around;
        column-gap: 2rem;
        row-gap: 7vh;

        .container {
            display: flex;
            flex-wrap: wrap;  
            flex:1 1 25rem;
            align-self: flex-start;
            min-width: 34%;
            
            justify-content: center;
            align-items: center;

            // outline: green solid 10px;
            
        

            .project {
                display: flex;
                flex-wrap: wrap;
    
                border: black  3px solid;
                /* outline: white 3px solid; */


                .card {
                    display: flex;
                    flex-basis: 100%;
                    flex-wrap: wrap;
                    max-width: 100%;
                    /* border: white 3px solid; */
    
                    img {
                        display: flex;
                        // min-width: 100%;
                        max-width: 100%;
                        flex-basis: 100%;
                        flex-wrap: wrap;
                        align-self: center;
                        outline: black 3px solid;
                        /* outline: white 3px solid; */
                    }
    
                    .link {
                        display: flex;
                        flex-wrap: wrap;
                        flex: 1 1 50%;
                        justify-content: center;
                        outline: black 3px solid;
                    }
    
                    a{
                        display: flex;
                        text-decoration: none;
                        color: black;
                    }
                }
    
                .details {
                    display: flex;
                    flex-wrap: wrap;
                    flex-basis: 100%;
                    padding-block: 1rem;
                    /* outline: white 3px solid; */
    
                    .desc {
                        flex-basis: 85%;

                        p,
                        ul {
                            padding-inline: clamp(1rem, 2.5rem, 3vw);
                        }
                        
                        h4 {
                            width: fit-content;
                            color: black;
                            padding-block: .5rem;
                            margin-inline: clamp(1rem, 2.5rem, 3vw);
                            
                        }

                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            flex-basis: 100%;
                            
                            li {
                                font-size: .95rem;
                                letter-spacing: 0.03rem;
                                font-weight: 400;
                                color: black;
                                margin-block-end: .5rem;

                                span {
                                    font-size: 1rem;
                                    font-weight: 900;
                                }
                            }
                        }

                        .lessons {
                            display: flex;
                            padding: 0;
                            max-width: fit-content;
                            border-bottom: .2rem solid;
                            margin-inline: clamp(1rem, 2.5rem, 3vw);
                        }
                    }
    
                    .stack {
                        display: flex;
                        height: 100%;
                        flex-grow: 1;
                        flex-wrap: wrap;
                        width: min-content;                        
                        justify-content: center;
                        align-items: center;
                        margin-inline: 2%;
                        align-self: center;
                        // outline: white 3px solid;
                     
                         .icon{
                             display: flex;
                             /* flex-wrap: wrap; */
                             /* flex-basis: min(45vw, 19rem); */
                             flex-basis: 20%;
                             /* min-width: 7em; */
                             /* outline: green solid 3px; */
                             justify-content: center;
                     
                             img {
                                 color: black;
                                 max-width: min(2rem, 20vw);
                                 min-width: 2rem;
                                 @include icon-color;
                                 /* outline: white 3px solid; */
                              }
                         }
                     }
                }
            } 

        }

           
    }
}


/**********************
       FOOTER
************************/
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    

    & > .container {
        display: flex;
        flex: 1 1 100%;
        flex-wrap: wrap;
        align-items: center;
        margin-inline: auto;

        p{
            color: white;
            flex: 1 1 35%;
        }
    
        p:first-child {
            padding-inline-end: .25rem;
            text-transform: uppercase;
            letter-spacing: .15rem;
            text-align: right;
            font-size: clamp(0.9rem, .90rem, 1.15rem);
            
        }
    
        p:nth-child(2) {
            padding-inline-start: .25rem;
            min-width: fit-content;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 1.1rem;
            
        }

    }

    .contact-icons {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100%;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        
        // outline: white solid 3px;

        .container {
            display: flex;
            align-items: center;

            a {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                
            }
        }
    }
}


nav ul .btn.hide i:before{
    content: '\f00d';
  }



















