@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=IBM+Plex+Sans:wght@300;400;500;600&family=Montserrat:wght@700;800;900&display=swap');


:root {
    --red: #FA2742;
    --dark-olive: #373833;
    --light-gray: #E8EAE3;
    --dark-gray: #DBDCD5;

}
/* RESET RULE */
* {
    margin: 0; padding 0; border: 0; box-sizing: border-box;
}
body {
    min-height: 100 vh;
    font-family: 'IBM Plex Sans', sans-serif;
}


/**************
   TYPOGRAPHY
 **************/
h1 {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-olive);
    font-size: 5rem;
    color: white;
    font-weight: 900;
}
h2 {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: 3rem;
}

/**************
   BACKGROUND
 **************/
#video-bg {
    position: fixed;
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color-screen {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background: rgba(55, 56, 51, .6);
}



/**************
    NAV BAR
 **************/
#nav-bar {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 5rem;
    /* background: rgba(55, 56, 51, .4); */
    justify-content: center;
    align-items: center;
}

#nav-bar span{
    font-family: 'IBM Plex Mono', monospace;
    height: 5rem;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    align-items:center;
    margin: 0;
    margin-left: 2%;
    font-size: 4rem;
    font-weight: 700;


}

.shadow {
    text-shadow: .25rem .125rem var(--red);
    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -moz-text-stroke-color: white;
    color: transparent;
}


.nav-list {
    display: flex;
    
    list-style: none;
    padding: 0;
    outline: black solid 3px;
}

.nav-item {
    min-width: 12em;
    padding: 1rem 2rem;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
    /* outline: black solid 3px; */
}

.nav-item a {
    color: white;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: .25rem;
}

.nav-item a:after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: white;
	width: 50%;
	left: 50%;
    margin-top: 1rem;
	bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.nav-item a:hover:after {
	width: 100%;
}

.nav-item a:focus {
    outline: none;
	width: 100%;
}

.nav-item a:focus:after {
    text-decoration: none;
	width: 100%;
}

header {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    /* outline: black solid 3px; */
    /* display: none; */
}

.welcome-card {
    display: flex;
    /* flex-basis: 100%; */
    flex-wrap: wrap;
    align-self: center;
    font-size: 3.75rem;
    transform: translate(0, 5rem);
    width: 15em;
    min-width: 20rem;
    margin: 0 2rem;
    /* height: 28.5rem; */
    justify-content: center;
    background: radial-gradient(55% 60% at center, rgba(55, 56, 51, 1), rgba(55, 56, 51, 0));
    /* outline: black solid 3px;  */
}

/* .welcome-card::after {
    content: "";
    flex-basis: 100%;
    height: 0;
} */

.welcome-card h1 {
    align-self: flex-start;
    margin: 3rem 2rem 0;
    color: white;
    text-align: center;
    /* outline: black solid 3px;  */
}



.welcome-card h2{
    font-family: 'IBM Plex Mono', monospace;
    margin: 2rem 2rem;
    color: white;
    flex-basis: 100%;
    text-align: center;
    font-weight: 700;
    align-self: center;
    /* outline: black solid 3px; */
}

#contact-icons {
    display: flex;
    margin: 1rem 2rem;
    width: 100%;
    align-self: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    align-self: flex-end;
    margin-bottom: 1rem;
    /* outline: black solid 3px; */
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4.5rem;
    min-height: 4.5rem;
    /* outline: black solid 3px; */
}

.contact a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 2rem;
    min-width: 3.375rem;
    min-height: 3.375rem;
    /* outline: black solid 3px; */
}

.container-down-arrow {
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content: center;
    /* outline: black solid 3px; */
}

.container-down-arrow > img {
    width: 6rem;
    color: white;
    margin-bottom: 1em;
    /* outline: black solid 3px; */
}



/**************
    CONTENT
 **************/

section,
.thought-bubble {
    display: flex;
    min-width: 20rem;
    width: 80%;
    margin: 0 auto;
}
 /**************
    ABOUT ME
 **************/
.about-me-section {
    display: flex;
    justify-content: center;
    /* outline: blue solid 3px; */
}

.about-me {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    background-color: var(--light-gray);
    /* outline: red solid 3px; */
}

.drop-shadow {
    float: right;
}

.about-me img {
    display: flex;
    flex: 1 1 min(25rem, 100%);
    max-width:min(25rem, 100%);
    min-width: 20rem;
    margin-inline: auto;
    filter: drop-shadow(7px 7px 7px #666666);
    -webkit-filter: drop-shadow(7px 7px 7px #666666);
    /* outline: red solid 3px; */
}

.about-me article {
    display: flex;
    flex: 1 1 min(27rem, 100%);
    max-width: 50rem;
    align-content: start;
    flex-wrap: wrap;
    margin-left: auto;
    /* outline: black solid 3px; */
}

.about-me-title {
    padding: .5rem 2rem;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 0;
    background-color: var(--dark-olive);
    flex-basis: 100%;
    min-width: fit-content;
    max-height: fit-content;
    /* outline: green solid 3px; */
}

.about-me-title h1 {
    font-size: 3.25rem;
    margin: 0;
    display: inline-block;
    color: white;
    /* outline: green solid 3px; */
}

.about-me-title h1:last-child {
    padding-left: .5rem;
    /* outline: green solid 3px; */
}
.about-me-title h1 span {
    display: inline-block;
}

.about-me p {
    margin-top: 0;
    font-size: 1.25rem;
    line-height: 1.7rem;
    letter-spacing: .03rem;
    font-weight: 500;
    flex-basis:max(90%, 25rem);
    align-content: flex-start;
    padding: 2rem 2rem;
    margin-bottom: auto;
    margin-left: auto;
    /* outline: red solid 3px; */
    background-color: white;
}
.about-me p span{
    font-family: 'IBM Plex Mono', monospace; 
       
}

.about-me p .shadow{
    text-shadow: .07rem .05rem var(--dark-olive);
    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--red);
    -moz-text-stroke-color: var(--red);
    color: transparent;       
}

text-shadow: .25rem .125rem var(--red);
-webkit-text-stroke-width: 1px;
-moz-text-stroke-width: 1px;
-webkit-text-stroke-color: white;
-moz-text-stroke-color: white;
color: transparent;
}


.thought-bubble {
    aspect-ratio: 5/1;

}