@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=IBM+Plex+Sans:wght@300;400;500;600&family=Montserrat:wght@700;800;900&display=swap');


:root {
    --red: #FA2742;
    --dark-olive: #373833;
    --light-gray: #E8EAE3;
    --dark-gray: #DBDCD5;

}
/* RESET RULE */
* {
    margin: 0; padding 0; border: 0; box-sizing: border-box;
}
body {
    min-height: 100 vh;
    font-family: 'IBM Plex Sans', sans-serif;
}


/**************
   TYPOGRAPHY
 **************/
h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: clamp(2.5rem, 5rem, 5vw);
    font-weight: 900;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: clamp(2rem, 3rem, 3.5vw);
    font-weight: 700;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: clamp(2rem, 4rem, 3vw);
    font-weight: 900;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: clamp(.75rem, 2rem, 1.1vw);
    letter-spacing: .3rem;
    font-weight: 400;
    line-height: 92%;

    /* outline: black solid 3px; */
}

h5 {
    color: black;
    font-size: clamp(1.1rem, 2rem, 1.4vw);
    font-weight: 600;
    /* outline: black solid 3px; */
}


p {
    font-size: clamp(1rem, 1.05rem, 1.15rem);
    /* font-size: 1.1rem; */
    line-height: 1.7rem;
    letter-spacing: .03rem;
    font-weight: 500;
}

/**************
   BACKGROUND
 **************/
#video-bg {
    position: fixed;
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color-screen {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background: rgba(55, 56, 51, .6);
}



/**************
    NAV BAR
 **************/
#nav-bar {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 5rem;
    /* background: rgba(55, 56, 51, .4); */
    justify-content: center;
    align-items: center;
}

#nav-bar span{
    font-family: 'IBM Plex Mono', monospace;
    height: 5rem;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    align-items:center;
    margin: 0;
    margin-left: 2%;
    font-size: 4rem;
    font-weight: 700;


}

.shadow {
    text-shadow: .25rem .125rem var(--red);
    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -moz-text-stroke-color: white;
    color: transparent;
}


.nav-list {
    display: flex;
    
    list-style: none;
    padding: 0;
    outline: black solid 3px;
}

.nav-item {
    /* min-width: 12em; */
    padding: 1rem 2rem;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
    outline: black solid 3px;
}

.nav-item a {
    color: white;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: .25rem;
}

.nav-item a:after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: white;
	width: 50%;
	left: 50%;
    margin-top: 1rem;
	bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.nav-item a:hover:after {
	width: 100%;
}

.nav-item a:focus {
    outline: none;
	width: 100%;
}

.nav-item a:focus:after {
    text-decoration: none;
	width: 100%;
}





/************************
    HEADER/WELCOME PAGE
 ************************/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    /* outline: green solid 3px; */
}

.welcome-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-block-start: min(40vw, 20vh);
    margin-inline: 5%;
    background: radial-gradient(55% 60% at center, rgba(55, 56, 51, 1), rgba(55, 56, 51, 0));

    /* outline: red solid 3px;  */
}

.welcome-card h1 {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    
    margin-block: 0rem;
    /* outline: black solid 3px;  */
}


.welcome-card h2{
    display: flex;

    margin-block: min(5vh, 8vw);
    /* outline: black solid 3px; */
}

#contact-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;

    margin-block: 2rem;
    /* outline: green solid 3px; */
}

#contact-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    margin-inline: max(4vw, 3vh);
}

#contact-icons a img{
    display: flex;
    flex-grow: 1;

    min-width: min(4vw, 7vh);
}

.container-down-arrow {
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content: center;

    /* outline: black solid 3px; */
}

.container-down-arrow > img {
    width: 10vh;
    color: white;

    margin-bottom: 1vh;
}



/**************
    CONTENT
 **************/

section {
    display: flex;
    margin-inline: clamp(.5rem, 5vw, 5rem);
    flex-wrap: wrap;
}

.content-block {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding-inline: clamp(.5rem, 5vw, 5rem); 
    overflow: hidden;
}

.title {
    margin-block: 1vh;
    padding-block: min(1.5vw, 1vh); 
    border-bottom: .2rem solid;
}




 /*******************
    ABOUT ME SECTION
 *********************/
#about-me {
    justify-content: center;

    /* outline: blue solid 3px; */
}

#about-me .content-block {
    flex-direction: row-reverse;
    
    padding-inline-end: 0%;
    background-color: var(--light-gray);
} 

.drop-shadow {
    float: right;
}

#about-me article {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 min(27rem, 100%);

    max-width: 50rem;
    align-content: start;
    
    overflow: hidden;
    /* outline: black solid 3px; */
}

#about-me .title{
    display: flex;
    flex-basis: 100%;
    border: none;
    
    max-height: fit-content;
    margin-block: 1em 0;
    padding: .5rem 2rem;
    background-color: var(--dark-olive);
    /* outline: green solid 3px; */
}

#about-me  h3{
    display: flex;
}

#about-me  p {
    flex-basis:max(90%, 25rem);
    
    margin-block-start: 0;
    margin-inline-start: clamp(.25rem, 2.5vw, 2.5rem);
    margin-inline-end: clamp(.5rem, 5vw, 5rem); 
    padding: 2rem 2rem;
    background-color: white;
    /* outline: red solid 3px; */
    
}
#about-me p span{
    font-family: 'IBM Plex Mono', monospace;        
}


#about-me .content-block img {
    display: flex;

    max-width:min(25rem, 100%);
    margin-inline: auto;

    filter: drop-shadow(7px 7px 7px #666666);
    -webkit-filter: drop-shadow(7px 7px 7px #666666);

    /* outline: red solid 3px; */
}



 /**********************
    EDUCATION SECTION
 ************************/



#education .content-block {
    background-color: var(--light-gray);
    overflow: visible;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - (400px - 100vw) * -.15), 0% 100%);
    padding-inline: 0%;
    padding-bottom: 5vh;
    border-bottom: var(--dark-olive);
}

#education .title{
    margin-inline: clamp(1rem, 2.5rem, 3vw);
}

#degree {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;

    justify-self: flex-start;
    
    padding-inline-start: 2vw;
    margin-block-start: 1%;
    background: none;

    /* outline: blue solid 3px; */
}

#education p {
    flex-basis: 100%;
    line-height: 110%;
}

#degree-field {
    display: block;
    flex-basis: 100%;

    margin-block-end: .75%;

    font-family: 'IBM Plex Mono', monospace;
    font-size: clamp(1.8rem, 4rem, 2.75vw);
    line-height: 85%;
    color: black;
    /* outline: green solid 3px; */
}

#degree-type {
    display: inline-block;
    
    max-width: fit-content;

    transform: rotate(-15deg);

    /* outline: green solid 3px; */
}

.deg-info {
    padding-inline-start: 3vw;
}

#college-name {
    font-size: clamp(1rem, 1.15rem, 1.35rem);
    font-weight: 600;
}



 /**********************
    SKILLS SECTION
 ************************/
#skills .content-block {
    padding-inline: 0%;
    justify-content: center;
}

#skills .title {
    max-width: fit-content;
    
    
    padding-inline: 0%;
    margin-inline: clamp(1rem, 2.5rem, 3vw);
    margin-inline-start: auto;

    
    border-color: white;
    color: white;

    /* outline: green solid 3px; */
}

#skill-icons {
    
    margin-top: 5rem;
    max-width: 100%;
    /* column-gap: 1%; */
    row-gap: 5vh;
}

#skills .icon-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: min(45vw, 19rem);
    /* flex-basis: 17rem; */
    min-width: 7em;
    /* outline: green solid 3px; */
    justify-content: center;
    filter: drop-shadow(0 0 .2rem black);
}

#skill-icons p {
    flex-basis: 100%;
    text-align: center;
    color: white;
    font-family: 'IBM Plex Mono', monospace;

}

#skills img {
    display: flex;
    max-width: min(5rem, 20vw);
    align-self: flex-start;
}





 /**********************
    PROJECTS
 ************************/

 .project {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    max-width: 33%;
    min-width: 33%;
    /* outline: white 3px solid; */
 }

 .card {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    max-width: 100%;
 }

 #projects .card img {
    display: flex;
    min-width: 100%;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-self: center;
 }

 .link {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;

    /* outline: white 3px solid; */
 }

 #projects a{
    display: flex;
    text-decoration: none;
    color: white;
 }

 .stack {
     display: flex;
     flex-wrap: wrap;
 }

 .stack img {
    max-width: min(2rem, 20vw);
 }