/* RESET RULE */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=IBM+Plex+Sans:wght@300;400;500;600&family=Montserrat:wght@700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-height: 100 vh;
  font-family: "IBM Plex Sans", sans-serif;
}

/**************
   VARIABLES
**************/
/**************
   MIX-INS
**************/
/**************
   TYPOGRAPHY
 **************/
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.75rem;
  font-weight: 900;
  color: #17252A;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: #17252A;
  grid-column: 1/-1;
  grid-row: span 1;
  margin-block: 3rem;
  text-align: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  letter-spacing: 0.1rem;
  font-weight: 900;
  color: #17252A;
  padding-inline: 0.75rem;
  margin-block-end: 1rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: #17252A;
  margin-block: 1rem;
}

h5 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: clamp(1.1rem, 2rem, 1.4vw);
  font-weight: 600;
  color: #FEFFFF;
}

p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.125rem;
  line-height: 1.7rem;
  letter-spacing: 0.03rem;
  font-weight: 500;
  color: #2B7A78;
}

/**************
   BACKGROUND
 **************/
#video-bg {
  position: fixed;
  z-index: -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-screen {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: rgba(23, 37, 42, 0.6);
}

section,
.main-block {
  display: flex;
  flex-wrap: wrap;
}

.content-block {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  overflow: hidden;
}

.title {
  margin-block: 1vh;
  border-bottom: 0.2rem solid;
}

.shadow {
  text-shadow: 0.25rem 0.125rem #9B1D20;
  -webkit-text-stroke-width: 1px;
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -moz-text-stroke-color: white;
  color: transparent;
}

.drop-shadow {
  float: right;
}

.typed {
  animation: typing 2s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
/**************
    NAV BAR
 **************/
nav {
  display: flex;
  position: fixed;
  z-index: 1;
  width: fit-content;
  height: 5rem;
  top: 0px;
  right: 0px;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
  justify-content: center;
  list-style: none;
}
nav ul .btn {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
nav ul .btn a::after {
  height: 0;
}
nav ul li {
  padding: 1rem 2rem;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}
nav ul li a {
  color: white;
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 0.25rem;
}
nav ul li a:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: white;
  width: 0%;
  left: 50%;
  margin-top: 1rem;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
nav ul li a:focus {
  outline: none;
  width: 100%;
}
nav ul li a:hover:after {
  width: 100%;
}
nav ul li a:focus:after {
  text-decoration: none;
  width: 100%;
}
nav ul .nav-item {
  position: relative;
  width: auto;
  margin: 0 1rem;
  text-align: center;
  order: 3;
}
nav ul .nav-item:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #FEFFFF;
  opacity: 0;
  transition: all 0.2s linear;
}

/************************
    HEADER/WELCOME PAGE
 ************************/
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  min-width: 100%;
  /* outline: green solid 3px; */
}
header #introduction {
  display: flex;
  flex: 1 0 50%;
  background-color: #DEF2F1;
}
header #introduction .container {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  height: fit-content;
  z-index: 1;
}
header #introduction .container h1 {
  line-height: 3.5rem;
}
header #introduction .container h1 .tertiary {
  color: #9B1D20;
}
header #introduction .container p {
  font-size: 1.25rem;
  font-weight: bold;
  color: #205a58;
  width: 30ch;
}
header #introduction #contacts {
  align-self: flex-end;
  justify-self: flex-end;
  bottom: 0px;
  left: 0px;
  background-color: #3AAFA9;
  display: flex;
  flex: 0 1 33%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-width: fit-content;
}
header #introduction #contacts a {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-block: 0.75rem;
  margin-inline: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: clamp(1.1rem, 2rem, 1.4vw);
  font-weight: 600;
  color: #FEFFFF;
}
header #introduction #contacts a img {
  display: flex;
  flex-grow: 1;
  width: 2.25rem;
}
header .btn-cv {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: clamp(1.1rem, 2rem, 1.4vw);
  font-weight: 600;
  color: #FEFFFF;
  font-size: 1rem;
  border-radius: 50em;
  height: fit-content;
  width: max-content;
  letter-spacing: 0.2rem;
  margin-block: 2rem;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  background-color: #9B1D20;
}
header .btn-cv:hover {
  cursor: pointer;
}
header #profile-picture {
  display: flex;
  flex: 1 0 50%;
  background-color: #3AAFA9;
  justify-content: center;
  overflow: hidden;
}
header #profile-picture img {
  height: 90%;
  align-self: flex-end;
  transform: scaleX(-1);
  filter: drop-shadow(7px 7px 7px #2B7A78);
  margin-inline-start: 12rem;
  margin-inline-end: auto;
  z-index: 0;
}
header #profile-picture #mobile-cv {
  visibility: hidden;
  position: absolute;
}

/***************
  MAIN CONTENT
****************/
section {
  padding: 0rem 4.5rem 3.5rem 4.5rem;
}

#main-content-block {
  width: 100%;
}

/***************
    ABOUT ME 
****************/
#about-me .grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#about-me article {
  grid-column: 2/6;
  grid-row: span 1;
}
#about-me #skills {
  grid-column: 7/12;
  grid-row: span 3;
}
#about-me #skills #skills-icons {
  display: flex;
  flex-wrap: wrap;
  padding-block-start: 1rem;
}
#about-me #skills #skills-icons .icon-container {
  display: flex;
  flex: 1 0 25%;
  flex-direction: column;
  min-width: 6rem;
  margin-block-end: 2rem;
}
#about-me #skills #skills-icons .icon-container img {
  align-self: center;
  min-width: 4.5rem;
}
#about-me #skills #skills-icons .icon-container p {
  flex-basis: 100%;
  text-align: center;
  margin-block-start: 0.125rem;
  font-size: 0.938rem;
}
#about-me #education {
  grid-column: 2/6;
  grid-row: span 1;
  margin-block-start: 2rem;
}
#about-me #education #degree {
  display: flex;
  flex-wrap: wrap;
}
#about-me #education #degree #degree-type,
#about-me #education #degree #college-name {
  flex: 1 0 100%;
}
#about-me #education #degree #degree-type,
#about-me #education #degree #degree-year {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.125rem;
  line-height: 1.7rem;
  letter-spacing: 0.03rem;
  font-weight: 500;
  color: #2B7A78;
  color: #3AAFA9;
  justify-content: end;
  transform: translate(0%, 15%);
  font-size: 0.875rem;
}
#about-me #education #degree #degree-field {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  letter-spacing: 0.1rem;
  font-weight: 900;
  color: #17252A;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5rem;
  margin-inline-end: 0.25rem;
}

/**************
    PROJECTS
 **************/
#projects {
  display: flex;
  background-color: #DEF2F1;
  justify-content: center;
  padding: 0;
}
#projects .grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}
#projects .grid-container .flex-container {
  display: flex;
  flex: 1 1 40%;
  justify-content: center;
  margin-inline: 2rem;
  margin-block-end: 4rem;
}
#projects .grid-container .project {
  min-width: 32.75rem;
  max-width: 35rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: min-content 1fr;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FEFFFF;
  filter: drop-shadow(7px 7px 7px #2B7A78);
}
#projects .grid-container .project a {
  grid-column: 1/-1;
  height: fit-content;
}
#projects .grid-container .project a img {
  display: flex;
  max-width: 100%;
  flex-basis: 100%;
  flex-wrap: wrap;
  align-self: center;
  /* outline: white 3px solid; */
}
#projects .grid-container .project .description {
  grid-column: 1/5;
  grid-row: span 1;
  margin-block: 2rem;
  align-self: start;
  display: flex;
  flex-direction: column;
  margin-inline-start: 2rem;
}
#projects .grid-container .project .description p {
  padding-inline: 1rem;
  margin-block-end: 1.5rem;
}
#projects .grid-container .project .description ul {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  padding-inline: 1rem;
}
#projects .grid-container .project .description ul li {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.125rem;
  line-height: 1.7rem;
  letter-spacing: 0.03rem;
  font-weight: 500;
  color: #2B7A78;
  font-size: 1.063rem;
  margin-block: 0.375rem;
}
#projects .grid-container .project .description ul li span {
  font-size: 1.125em;
  font-weight: 900;
  color: #17252A;
}
#projects .grid-container .project .stack {
  grid-column: 5/6;
  grid-row: span 1;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-inline: 2%;
  align-self: center;
}
#projects .grid-container .project .stack .icon {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  width: 100%;
}
#projects .grid-container .project .stack .icon img {
  max-width: 3rem;
  filter: brightness(0) saturate(100%) invert(53%) sepia(94%) saturate(287%) hue-rotate(128deg) brightness(94%) contrast(88%);
  /* outline: white 3px solid; */
}
#projects .grid-container .project .more-info {
  grid-column: 1/-1;
  grid-row: span 1;
  display: flex;
}
#projects .grid-container .project .more-info a {
  width: fit-content;
  align-self: center;
  margin-block-end: 1.5rem;
  margin-inline: auto;
}
#projects .grid-container .project .more-info a:link {
  text-decoration: none;
}
#projects .grid-container .project .more-info a:visited {
  text-decoration: none;
}
#projects .grid-container .project .more-info a .gh-btn {
  display: flex;
  flex: wrap;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: clamp(1.1rem, 2rem, 1.4vw);
  font-weight: 600;
  color: #FEFFFF;
  font-size: 1rem;
  border-radius: 50em;
  height: fit-content;
  letter-spacing: 0.2rem;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  background-color: #9B1D20;
}
#projects .grid-container .project .more-info a .gh-btn span {
  display: flex;
  text-align: center;
  flex-shrink: 0;
  flex-basis: 75%;
  min-width: max-content;
  align-self: center;
}
#projects .grid-container .project .more-info a .gh-btn img {
  display: flex;
  flex: 1 1 20%;
  margin-inline: 0.5rem;
}
#projects .grid-container .project .more-info a .gh-btn:hover {
  cursor: pointer;
}
#projects .grid-container .left-side {
  grid-column: 2/6;
  grid-row: span 1;
}
#projects .grid-container .right-side {
  grid-column: 8/12;
  grid-row: span 1;
}

/**************
    CONTENT
 **************/
.main-block {
  margin-inline: clamp(0.5rem, 5vw, 5rem);
}

.content-block {
  padding-inline: clamp(0.5rem, 5vw, 5rem);
}

.title {
  padding-block: min(1.5vw, 1vh);
}

/*******************
   ABOUT ME SECTION
*********************/
.grid-container-2 {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.profile-photo-block {
  grid-column: 1/6;
  grid-row: span 1;
  background-color: #FEFFFF;
}
.profile-photo-block h3 {
  color: #17252A;
}
.profile-photo-block .shadow {
  color: #17252A;
}
.introduction-block {
  grid-column: 6/12;
  grid-row: span 1;
  display: flex;
  background-color: #17252A;
  padding-inline: 6rem;
  padding-block: 4rem;
}
.introduction-block .container {
  background-color: #17252A;
  height: 100%;
  display: block;
  gap: 0%;
  border-radius: 5rem;
  outline: red solid 3px;
  align-items: flex-start;
}
.introduction-block .container .title-container {
  margin-block-start: 2rem;
  margin-inline: 3rem;
}
.introduction-block .container h4 {
  width: fit-content;
  color: #FEFFFF;
}
.introduction-block .container p {
  color: #9B1D20;
  display: flex;
  margin-inline: 3rem;
  padding: 1rem;
}

.resume-block {
  grid-column: 1/5;
  grid-row: span 1;
  background-color: #17252A;
}
.resume-block #resume-btn {
  border-radius: 5em;
  border: 4px solid transparent;
  height: 3rem;
  width: 6rem;
}

.education-block {
  grid-column: 1/5;
  grid-row: span 1;
  background-color: #17252A;
}

.skills-block {
  grid-column: 5/12;
  grid-row: span 2;
  background-color: #FEFFFF;
}

.profile-picture {
  grid-column: 1/5;
  grid-row: span 1;
  outline: white solid 3px;
}

.introduction {
  grid-column: 6/9;
  grid-row: span 2;
  outline: white solid 3px;
}

.skills-upper {
  grid-template-columns: repeat(5, 1fr);
  grid-column: 1/6;
  grid-row: span 1;
}

#about-me {
  justify-content: center;
  /* outline: blue solid 3px; */
}
#about-me .content-block {
  padding-inline: 0%;
  background-color: #3AAFA9;
}
#about-me .content-block article {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 min(27rem, 100%);
  max-width: 50rem;
  align-content: start;
  overflow: hidden;
  /* outline: black solid 3px; */
}
#about-me .content-block article .title {
  display: flex;
  flex-basis: 100%;
  border: none;
  max-height: fit-content;
  margin-block: 1em 0;
  padding: 0.5rem 2rem;
  background-color: #17252A;
  /* outline: green solid 3px; */
}
#about-me .content-block article .title h3 {
  display: flex;
}
#about-me .content-block article p {
  flex-basis: max(90%, 25rem);
  margin-block-start: 0;
  margin-inline-start: clamp(0.25rem, 2.5vw, 2.5rem);
  margin-inline-end: clamp(0.5rem, 5vw, 5rem);
  padding: 2rem 2rem;
  background-color: white;
  /* outline: red solid 3px; */
}
#about-me .content-block article p span {
  font-family: "IBM Plex Mono", monospace;
}
#about-me .content-block img {
  max-width: min(25rem, 100%);
}
#about-me .content-block .container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 50%;
  margin-inline: auto;
}
#about-me .content-block .container ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: flex-end;
  min-height: 40vh;
  flex-basis: 100%;
  border: 3px green solid;
  justify-content: center;
}
#about-me .content-block .container ul .slide {
  width: max(43%, 600px);
  position: absolute;
  opacity: 0;
}
#about-me .content-block .container ul .slide[data-active] {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
#about-me .content-block .container ul .slide[data-active] img {
  display: flex;
  flex: 1 1 100%;
  min-width: 100%;
  filter: drop-shadow(7px 7px 7px #666666);
  -webkit-filter: drop-shadow(7px 7px 7px #666666);
  outline: red solid 3px;
}
#about-me .content-block .container ul .visible {
  opacity: 1;
}
#about-me .content-block #education {
  background-color: #3AAFA9;
  overflow: visible;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - (400px - 100vw) * -0.15), 0% 100%);
  padding-inline: 0%;
  padding-bottom: 5vh;
  border-bottom: #17252A;
}
#about-me .content-block #education p {
  flex-basis: 100%;
  line-height: 110%;
}
#about-me .content-block #education .title {
  margin-inline: clamp(1rem, 2.5rem, 3vw);
}
#about-me .content-block #education #degree {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-self: flex-start;
  padding-inline-start: 2vw;
  margin-block-start: 1%;
  background: none;
  /* outline: blue solid 3px; */
}
#about-me .content-block #education #degree #degree-type {
  display: inline-block;
  max-width: fit-content;
  transform: rotate(-15deg);
  /* outline: green solid 3px; */
}
#about-me .content-block #education #degree #degree-field {
  display: block;
  flex-basis: 100%;
  margin-block-end: 0.75%;
  font-family: "IBM Plex Mono", monospace;
  font-size: clamp(1.8rem, 4rem, 2.75vw);
  line-height: 85%;
  color: black;
  /* outline: green solid 3px; */
}
#about-me .content-block #education .deg-info {
  padding-inline-start: 3vw;
}
#about-me .content-block #education #college-name {
  font-size: 1.15rem;
  font-weight: 600;
}

/**********************
    EDUCATION SECTION
 ************************/
#education .content-block {
  background-color: #3AAFA9;
  overflow: visible;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - (400px - 100vw) * -0.15), 0% 100%);
  padding-inline: 0%;
  padding-bottom: 5vh;
  border-bottom: #17252A;
}
#education .content-block p {
  flex-basis: 100%;
  line-height: 110%;
}
#education .content-block .title {
  margin-inline: clamp(1.1rem, 2.5rem, 3vw);
}
#education .content-block #degree {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-self: flex-start;
  padding-inline-start: 2vw;
  margin-block-start: 1%;
  background: none;
  /* outline: blue solid 3px; */
}
#education .content-block #degree #degree-type {
  display: inline-block;
  max-width: fit-content;
  transform: rotate(-15deg);
  /* outline: green solid 3px; */
}
#education .content-block #degree #degree-field {
  display: block;
  flex-basis: 100%;
  margin-block-end: 0.75%;
  font-family: "IBM Plex Mono", monospace;
  font-size: clamp(1.8rem, 4rem, 2.75vw);
  line-height: 85%;
  color: black;
  /* outline: green solid 3px; */
}
#education .content-block .deg-info {
  padding-inline-start: 3vw;
}
#education .content-block #college-name {
  font-size: 1.15rem;
  font-weight: 600;
}

/**********************
    SKILLS SECTION
 ************************/
#skills .content-block {
  padding-inline: 0%;
  justify-content: center;
}
#skills .title {
  max-width: fit-content;
  padding-inline: 0%;
  margin-inline: clamp(1rem, 2.5rem, 3vw);
  margin-inline-start: auto;
  border-color: white;
  color: white;
  /* outline: green solid 3px; */
}
#skills img {
  max-width: min(5rem, 20vw);
}
#skills #skill-icons {
  margin-top: 5rem;
  max-width: 100%;
  /* column-gap: 1%; */
  row-gap: 5vh;
}
#skills #skill-icons .icon-container {
  flex-basis: min(45vw, 19rem);
  display: flex;
  flex-wrap: wrap;
  flex-basis: 21%;
  min-width: 7em;
  /* outline: green solid 3px; */
  justify-content: center;
  filter: drop-shadow(0 0 0.2rem black);
}
#skills #skill-icons p {
  flex-basis: 100%;
  text-align: center;
  color: white;
  font-family: "IBM Plex Mono", monospace;
}

/**********************
         PROJECTS
************************/
#projectss .project {
  max-width: min(35rem, 100%);
}
#projectss p {
  color: black;
  margin-block: 1rem;
}
#projectss > .title {
  background-color: #17252A;
  display: flex;
  flex-basis: 100%;
  margin-block: 2rem;
  margin-inline-end: 50%;
  justify-content: flex-end;
}
#projectss > .title h3 {
  display: flex;
  width: fit-content;
  color: white;
  padding: 0.5rem 4rem;
  justify-self: flex-end;
}
#projectss .content-block {
  justify-content: space-around;
  column-gap: 2rem;
  row-gap: 7vh;
}
#projectss .content-block .container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 25rem;
  align-self: flex-start;
  min-width: 34%;
  justify-content: center;
  align-items: center;
}
#projectss .content-block .container .project {
  display: flex;
  flex-wrap: wrap;
  border: black 3px solid;
  /* outline: white 3px solid; */
}
#projectss .content-block .container .project .card {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  max-width: 100%;
  /* border: white 3px solid; */
}
#projectss .content-block .container .project .card img {
  display: flex;
  max-width: 100%;
  flex-basis: 100%;
  flex-wrap: wrap;
  align-self: center;
  outline: black 3px solid;
  /* outline: white 3px solid; */
}
#projectss .content-block .container .project .card .link {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 50%;
  justify-content: center;
  outline: black 3px solid;
}
#projectss .content-block .container .project .card a {
  display: flex;
  text-decoration: none;
  color: black;
}
#projectss .content-block .container .project .details {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  padding-block: 1rem;
  /* outline: white 3px solid; */
}
#projectss .content-block .container .project .details .desc {
  flex-basis: 85%;
}
#projectss .content-block .container .project .details .desc p,
#projectss .content-block .container .project .details .desc ul {
  padding-inline: clamp(1rem, 2.5rem, 3vw);
}
#projectss .content-block .container .project .details .desc h4 {
  width: fit-content;
  color: black;
  padding-block: 0.5rem;
  margin-inline: clamp(1rem, 2.5rem, 3vw);
}
#projectss .content-block .container .project .details .desc ul {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
#projectss .content-block .container .project .details .desc ul li {
  font-size: 0.95rem;
  letter-spacing: 0.03rem;
  font-weight: 400;
  color: black;
  margin-block-end: 0.5rem;
}
#projectss .content-block .container .project .details .desc ul li span {
  font-size: 1rem;
  font-weight: 900;
}
#projectss .content-block .container .project .details .desc .lessons {
  display: flex;
  padding: 0;
  max-width: fit-content;
  border-bottom: 0.2rem solid;
  margin-inline: clamp(1rem, 2.5rem, 3vw);
}
#projectss .content-block .container .project .details .stack {
  display: flex;
  height: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  width: min-content;
  justify-content: center;
  align-items: center;
  margin-inline: 2%;
  align-self: center;
}
#projectss .content-block .container .project .details .stack .icon {
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-basis: min(45vw, 19rem); */
  flex-basis: 20%;
  /* min-width: 7em; */
  /* outline: green solid 3px; */
  justify-content: center;
}
#projectss .content-block .container .project .details .stack .icon img {
  color: black;
  max-width: min(2rem, 20vw);
  min-width: 2rem;
  filter: brightness(0) saturate(100%) invert(53%) sepia(94%) saturate(287%) hue-rotate(128deg) brightness(94%) contrast(88%);
  /* outline: white 3px solid; */
}

/**********************
       FOOTER
************************/
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
footer > .container {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  align-items: center;
  margin-inline: auto;
}
footer > .container p {
  color: white;
  flex: 1 1 35%;
}
footer > .container p:first-child {
  padding-inline-end: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  text-align: right;
  font-size: 0.9rem;
}
footer > .container p:nth-child(2) {
  padding-inline-start: 0.25rem;
  min-width: fit-content;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.1rem;
}
footer .contact-icons {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}
footer .contact-icons .container {
  display: flex;
  align-items: center;
}
footer .contact-icons .container a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav ul .btn.hide i:before {
  content: "\f00d";
}
